
mat-form-field {
    margin-left: 1%;
    margin-right: 1%;
    width: 31%;
}

.mat-raised-button {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

mat-card {
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}